################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WoHclassLibrary/.vs/WoHclassLibrary/v15/Server/sqlite3
