@model HomeModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-12">
        <span id="GetMapUrl" style="display:none">@Url.Action("GetMap", "Home")</span>
        <span id="GetUnitsUrl" style="display:none">@Url.Action("GetUnits", "Home")</span>
        <span id="GetSignoutUrl" style="display:none">@Url.Action("SignOut", "Account")</span>
        <img id="TestBgImage" src="~/images/WoHTestBackground.png" style="display:none; position:absolute" />
        <div id="BattlefieldFrame" class="BfFrame">
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/react-router-dom/umd/react-router-dom.min.js"></script>

    <script src=@Url.Content("~/js/UnitBox.jsx")></script>
    <script src=@Url.Content("~/js/UnitsLayer.jsx")></script>
    <script src=@Url.Content("~/js/InfoPannel.jsx")></script>
    <script src=@Url.Content("~/js/HexFrame.jsx")></script>
    <script src=@Url.Content("~/js/Battlefield.jsx")></script>
    <script src=@Url.Content("~/js/App.jsx")></script>

    @*<script src=@Url.Content("~/js/TestBGImage.js")></script>*@
}
